@charset "utf-8";

/*------------------PANTALLA SUPERIOR 900px ------------------------------*/
@media (min-width:900px){
	
	body {
margin-top: 0px;
}
	#contenido{
	margin: 0 auto;
	width: 900px;
		
		}

	/*------------------HEADER-----------------------------*/
	
	
	
	
	header{
	padding-left: 3%;
	padding-right: 3%;
	}
	
header ul{
	width: 30%;
}
	
	
	header ul li{
	margin-left: 3%;
	margin-right: 3%;
	}
		
	/*------------------SECTION-----------------------------*/
	#caja-paralelo-auto{
flex-flow: row;}
	
	
/*------------------FOOTER-----------------------------*/
	footer div{
		text-align: left;
		width: 25%;
	}	
	
	footer #redes-sociales {	
	width: 15%;	
}
	
footer #derecho-reservado {	
	width: 21%;	
}

}/*FIN PANTALLA 700px */
