@charset "utf-8";





/*------------------PANTALLA 740px HASTA 899px ------------------------------ */
@media (min-width:740px) and (max-width:899px){
	
	body {
margin-top: 0px;
}
	header{
	padding-left: 2%;
	padding-right: 2%;
	}
		
	h1{
	display: inline;
	}
	
	header ul{
	display: inline;
	float: right;
	width: 30%;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	
	}
	
	
	header ul li{
	margin-right: 5%;
	margin-left: 5;
	
	}
	/*------------------SECTION-----------------------------*/
	#caja-paralelo-auto{
flex-flow: row;}
	
	
	
	/*------------------FOOTER-----------------------------*/
	footer div{
	text-align: left;
	width: 23%;
	}
	
}/*FIN PANTALLA 700px */




/*------------------PANTALLA 580px HASTA 739px ------------------------------*/
@media (min-width:580px) and (max-width:739px){

		
}/*FIN PANTALLA 480px */
